<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robert.listview">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zoo"
        android:label="ZooApp"
        android:roundIcon="@drawable/zoo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListView">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimalInfo" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>